@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
} 
 /*--------------------------- header----------------------------------------------------- */

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(https://assets.nflxext.com/ffe/siteui/vlv3/dc1cf82d-97c9-409f-b7c8-6ac1718946d6/679d466c-5a82-4221-ab17-9aeff2ebb1ae/CO-en-20230911-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 70px;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    background-color: #e50914;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
    font-size:15px;
    font-weight: 700;
}

.signin-btn{
    height: 35px;
    font-size: 1rem;
    font-weight: 700;
}

.container__form{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 30px;
    margin-top: 130px;
}

.container__form h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}
.container__form h3{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.container__form p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.email-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-signup{
    background: #fff;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #fff;
    width: 350px;
    height: 50px;
        
}

.email-signup input{
    margin-left: 1px;
    outline: 0;
    border: 0;
    display:flex;
    justify-content: flex-start;
    padding: 15px 20px;
    background: transparent;
    color: #fff;
    width: 390px;
    cursor:text;
}
.btn-start{
    background: #e50914;
    border: none;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    font-weight: 800;
    width: 200px;
    margin-left: 12px;
    font-size: 1.5rem;
    padding-right: 25px;
}
.right-arrow{
    position: relative;
    right: 25px;
}


/* end of the header */


/* sections */



.container__section, .container__section-2, .container__section-3, .container__section-4{
    border-top: 6px solid #333;
    padding: 30px 150px;
    font-size: 1.5rem;
}

.container__section .img__net img{
    object-fit: cover;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/dc1cf82d-97c9-409f-b7c8-6ac1718946d6/679d466c-5a82-4221-ab17-9aeff2ebb1ae/CO-en-20230911-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}

.container__section-2{
    width: 100%;
    display: flex;
}
.container__section-2 .row{
    width: 100%;
}
.container__section-3 .img__net img{
    height: 400px;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 60px 0;
}


.text__section-3{
    line-height: 30px;
    width:399px;
    font-weight: 900;
    font-size: 1.9rem;
    margin-right: 100px;
    
}
.text__section-3 p{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 400;
}

.text__section-2 .enjoy-2{
    line-height: 45px;
    font-size: 2.5rem;
}

.text__section-2 p{
    line-height: 25px;
    font-weight: 300;
    font-size: 1.5rem;
}

.text__section-kids{
    flex-basis: 50%;
    margin-bottom: 20px;
    line-height: 25px;
}

.text__section-kids h2{
    line-height: 58px;
    font-size: 2rem;
}

.img__net{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img__net img{
    display: block;
    margin: auto;
    height: 290px;
}



/* ----------------FAQ------------------ */

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2{
    font-weight: 900;
    font-size: 40px;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
    margin-bottom: 25px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background:#303030 ;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.5s, padding 0.5s;
}


.faq .email-signup{
    max-width: 600px;
}

.faq small{
    display: flex;
    position: relative;
    left: 140px;
    font-size: 17px;
    margin-bottom: 1px;
}

.form__down{
    display: flex;
    margin-top: 2px;
    text-align: center;
    align-items: center;    
    position: relative;
    right: 20px;
    margin-bottom:30px;
}
.form__down .email-signup{
    background: #0f0f0f;
}

.form__down .btn-start img{
    position: relative;
    left: 150px;
    height: 20px;
    top: 2px;
}



/* -------------------------------FOOTER------------------------ */



.container{
    max-width: 1400px;
    border-top: 6px solid #333;
    height: 300px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;   
}

.footer-links{
    margin: 80px;
    
}

.footer-links ul li{
    list-style: none;
    margin-top: 15px ;
    font-size: 14px;
    position: relative;
    left: 90px;
    bottom: 20px;
}

.footer-links ul li a{
    color:#b3b3b3; 
}

.question-call{
    margin-top: 45px;
    font-size: 10px;
    margin-left: 40px;
    color: #b3b3b3;
    /* position: relative;
    top: 30px;
    left: 129px; */
}

.question-call a{
    color: #b3b3b3;
}

.bottom-footer .btn-end{
    align-items: center;
    color: white;
    background-color: #0f0f0f;
    background: #0f0f0f;
    border: 1px solid #fff;
    padding: 4px 10px;
    font-size: 15px ;
    font-weight: 700;
    position: relative;
    left: 170px;
    bottom: -20px;
    width: 125px;
    margin-bottom: 90px;
    border-radius: 5px;
    height: 30px;
}

.bottom-footer .btn-end img{
    position: relative;
    left: 15px;
    height: 13px;
}

.netflix-col{
    /* position: relative;
    left: 173px; */
    bottom: 40px;
    color:#e7f7ff;
    font-size: 14px;
} 


/* --------media queries small devices-------- */

@media screen and (min-width: 320px) and (max-width:640px){
    
    header{
        width: 400px;
        height: 100vh;
    }

    } 






